.checkbox {
	position: relative;

	input {
		position: absolute;
		z-index: -1;
		top: 0;
		left: -10000px;
		width: 20px;
		opacity: 0;

		&:checked + label {
			&:after {
				content: "";
				background: $primary;
				border-radius: 2px;
				width: 14px;
				height: 14px; 
				position: absolute; 
				top: 50%; 
				left: 4px; 
				transform: translateY(-50%);
				box-sizing: border-box;
			}
			&:before{
				border-color: $primary;
			}
		}
	}

	label {
		display: flex;
		align-items: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font: 500 14px/1.2 $baseFF;
		color: $black;
		position: relative;
		cursor: pointer;

		@include media($md) {
			font: 500 12px/18px $baseFF;
		}

		a {
			color: $green;
			display: inline;
		}

		&:before {
			display: inline-block;
			flex-grow: 0;
			flex-shrink: 0;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: 50% 50%;
			border: 1px solid $gray2;
			border-radius: 3px;
			content: "";
		}
	}
}

.checkbox-list{
	.checkbox{
		margin-bottom: 16px;

		&:last-child{
			margin-bottom: 0;
		}
	}
}
