@font-face {
    font-family: 'Play';
    src: local('Play Regular'), local('Play-Regular'), url('~assets/fonts/playregular.woff2') format('woff2'), url('~assets/fonts/playregular.woff') format('woff'), url('~assets/fonts/playregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Play';
    src: local('Play Bold'), local('Play-Bold'), url('~assets/fonts/playbold.woff2') format('woff2'), url('~assets/fonts/playbold.woff') format('woff'), url('~assets/fonts/playbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
